* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --body-bg-color: #aaa;

  /* Navbar */
  --navbar-bg-color: #F5F5F5;
  --navbar-text-color: #072196;
  --navbar-border-color: #05832b;

}

body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
}