* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /* Font size */
  --font-size-smallest: 0.7rem;
  --font-size: 1rem;
  --font-size-p: 0.8rem;
  --font-size-a: 0.9rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1rem;
  --font-size-h3: 0.9rem;

  /*Body*/
  --body-bg-color: #ffffff;
  --border-color: #bbb;
  --bg-color-white: #fff;

  /* Navbar */
  --navbar-bg-color: #0064d6;
  --navbar-text-color: #000;
  --navbar-border-color: #053c83;
  --navbar-text-hover-color: darkgreen;
  --navbar-bg-hover-color: rgb(35, 128, 50);

  /* Card */
  --card-bg-color: #fff;
  --card-text-color-1: #08237a;
  --card-text-color-2: #001f3b;
  --card-text-strong-color: #353535;
  --card-border-color: #ccc;

  /* Home */
  --list-bg-color: #ffffff;
  --text-color-white: darkgreen;
  --border-list-color: #001f3b63;
  --text-color-black: #00367e;

  /* Footer */
  --footer-bg-color: #060814;
  --footer-text-color: #fff;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
}