* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font size */
  --font-size-p: 0.8rem;
  --font-size-a: 0.9rem;
  --font-size-h1: 1.2rem;
  --font-size-h2: 1rem;
  --font-size-h3: 0.9rem;

  /*Body*/
  --body-bg-color: #eee;

  /* Navbar */
  --navbar-bg-color: #fff;
  --navbar-text-color: #777;
  --navbar-border-color: #053c83;
  --navbar-text-hover-color: #333;

  /* Card */
  --card-bg-color: #fff;
  --card-text-color-1: #08237a;
  --card-text-color-2: #001f3b;
  --card-text-strong-color: #353535;
  --card-border-color: #ccc;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
}